.header {
  height: 56px;
  background-color: var(--mantine-color-dustyRed-7);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: #fff9f5;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}
