.header {
  height: 56px;
  background-color: var(--mantine-color-dustyRed-7);
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  text-decoration: none;
  color: var(--mantine-color-cream-0);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}
